.messIcon{
    position: relative;
    margin-right: 30px;
    color: #d1d3e2;
    &:hover{cursor: pointer;}
}
.alertIcon_icon{
    color: #8080806e;
}
.alertIcon_val{
    position: absolute;
    padding: 1px 4px;
    background-color: #ff6e6e;
    border-radius: 4px;
    font-size: 0.5em;
    font-weight: bold;
    top: -7px;
    left: 7px;
    color: #fff;
}
.alertIcon_dropdown{
    width: 250px;
    position: absolute;
    top: calc(100% + 30px);
    right: calc(100% - 20px);
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    z-index: 1;
    transform: scale(0);
    &.show_message{
        transform: scale(1);
        transition: all 0.1s;
    }
}
.alertIcon_dropdown-top{
    text-transform: uppercase;
    background-color: #6565ff;
    color: #fff;
    padding: 8px 15px;
}
.alertIcon_dropdown-bot{
    padding: 8px 15px;
    text-align: center;
    border-bottom: 0.5px solid #e4e4e4;
}
.dropdown_item{
    padding: 8px 15px;
    border-bottom: 1px solid #e4e4e4;
    a{
        display: flex;
        align-items: center;
    }
    &:hover{
        background-color: #f1f1f1;
    }
}
.dropdown_circle_avat{
    width: 20%;
    display: flex;
    margin-right: 10px;
    position: relative;
    img{
        width: 100%;
        height: auto;
        border-radius: 50%;
    }
    &::after{
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        border: 2px solid #fff;
        top: calc(100% - 9px);
        right: 0;
    }
    &.active::after{background-color: #1cc88a;}
    &.away::after{background-color: #eaecf4;}
    &.invisible::after{background-color: #f6c23e;}
}
.dropdown_message{
    width: 80%;
    font-size: 0.8em;
    p{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #232323;
        font-size: 1.1em;
    }
    small{
        color: #a7a7a7;
    }
}