.tablePage{
    padding: 20px;
    background-image: linear-gradient(#ecebeb, white 10% 90%, #ecebeb);
}
.tablePage_title{
    font-size: 30px;
    color: #484848;
    margin-bottom: 15px;
}
.tablePage_desc{
    color: #1d1d1da8;
    margin-bottom: 15px;
    font-size: 16px;
}