.footer{
    position: relative;
    text-align: center;
    padding: 25px 0;
}
.footer_text{
    color: #8080808f;
    font-size: 15px;
}
.footer_btnTop{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #b1b1b1;
    font-size: 17px;
}